<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <title>Cloud Monitor</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <a class="navbar-brand" href="#">Cloud Monitor</a>
            <button class="btn btn-outline-success" id="refresh">Refresh</button>
            </div>
        </nav>
        <br>
        <div class="container" style="padding-top: 52px">
            {% for server in servers %}
            {% if server['CONNECT'] == true%}
                <h4 class="alert alert-success" id="{{server['NAME']}}" role="alert"> {{server['NAME']}} </h4>
                <div class="row">
                    <div class="col-12 col-lg-6">
                       <table class="table table-striped table-hover">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Information</th>
                              <th scope="col">Utilization</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">CPU</th>
                              <td id="{{server['NAME']}}-CPU-info">{{server["CPU"]["idel"]}}</td>
                              <td><div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" id="{{server['NAME']}}-CPU-bar">100%</div>
                              </div></td>
                            </tr>
                            <tr>
                              <th scope="row">Memory</th>
                              <td id="{{server['NAME']}}-MEM-info">{{server["MEM"]["used_memory"]}} / {{server["MEM"]["total_memory"]}}</td>
                              <td><div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" id="{{server['NAME']}}-MEM-bar">100%</div>
                              </div></td>
                            </tr>
                            <tr>
                              <th scope="row">Swap</th>
                              <td id="{{server['NAME']}}-SWAP-info">{{server["MEM"]["used_swap"]}} / {{server["MEM"]["total_swap"]}}</td>
                              <td><div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" id="{{server['NAME']}}-SWAP-bar">100%</div>
                              </div></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-lg-6">
                       <table class="table table-striped table-hover">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">GPU</th>
                              <th scope="col">Memory</th>
                              <th scope="col">Utilization</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for gpu in server["GPU"] %}
                            <tr>
                              <th scope="row">{{gpu["index"]}}</th>
                              <td>{{gpu["name"]}}</td>
                              <td id="{{server['NAME']}}-GPU-{{gpu['index']}}-info">{{gpu["used_memory"]}} / {{gpu["total_memory"]}}</td>
                              <td><div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" id="{{server['NAME']}}-GPU-{{gpu['index']}}-bar">{{gpu["utilization"]}}</div>
                              </div></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <h4 class="alert alert-danger" id="{{server['NAME']}}" role="alert"> {{server['NAME']}} </h4>
            {% endif%}
            {% endfor %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
        <script>
            function toGB(val){
                return (val / 1024 / 1024).toFixed(1);
            }
            
            function update_progressbar(id, percent, text){
                $("#" + id).css("width",  percent + "%");
                $("#" + id).html(text);
                $("#" + id).removeClass("bg-danger");
                $("#" + id).removeClass("bg-success");
                $("#" + id).removeClass("bg-warning");
                if (percent <= 50.0){
                    $("#" + id).addClass("bg-success");
                }else if (percent <= 80.0){
                    $("#" + id).addClass("bg-warning");
                }else{
                    $("#" + id).addClass("bg-danger");
                }
            }
            
            function render_server_data(server){
                let name = server["NAME"];
                let updated = server["UPDATE"];
                // CPU
                let cpu_usage = parseFloat(100.0 - server["CPU"]["idel"]).toFixed(1);
                $("#" + name + "-CPU-info").html(cpu_usage + "%");
                update_progressbar(name + "-CPU-bar", cpu_usage, cpu_usage + "%")
                // MEM
                let total_memory = parseFloat(server["MEM"]["total_memory"]) + 1e-8;
                let total_swap   = parseFloat(server["MEM"]["total_swap"]) + 1e-8;
                let used_memory  = total_memory - parseFloat(server["MEM"]["used_memory"]);
                let used_swap    = total_swap - parseFloat(server["MEM"]["used_swap"]);
                update_progressbar(
                    name + "-MEM-bar", 
                    (used_memory / total_memory * 100.0), 
                    (used_memory / total_memory * 100.0).toFixed(1) + "%"
                );
                update_progressbar(
                    name + "-SWAP-bar", 
                    (used_swap / total_swap * 100.0), 
                    (used_swap / total_swap * 100.0).toFixed(1) + "%"
                );
                total_memory = toGB(total_memory);
                total_swap = toGB(total_swap);
                used_memory = toGB(used_memory);
                used_swap = toGB(used_swap);
                $("#" + name + "-MEM-info").html(used_memory + " GB / " + total_memory + " GB");
                $("#" + name + "-SWAP-info").html(used_swap + " GB / " + total_swap + " GB");
                // GPU 
                $.each(server["GPU"], function(i, gpu){
                    let index = gpu["index"];
                    let used_memory = gpu["used_memory"];
                    let total_memory = gpu["total_memory"];
                    let utilization = gpu["utilization"];
                    $("#" + name + "-GPU-" + index + "-info").html(used_memory + " / " + total_memory);
                    update_progressbar(
                        name + "-GPU-" + index + "-bar", 
                        parseFloat(utilization),
                        utilization
                    );
                });
            }
            
            var TOTAL_COUNT = {{ refresh }};
            var CURRE_COUNT = 0;
            
            function refresh(){
                $("#refresh").removeClass("btn-outline-success");
                $("#refresh").addClass("btn-warning");
                $("#refresh").attr("disabled", true);
                $("#refresh").html("Processing");
                $.getJSON("./status", function(result){
                    $.each(result, function(i, field){
                        try {
                           render_server_data(field);
                        }
                        catch(err) { }
                    });
                    $("#refresh").addClass("btn-outline-success");
                    $("#refresh").removeClass("btn-warning");
                    $("#refresh").removeAttr("disabled");
                    $("#refresh").html("Refresh (" + TOTAL_COUNT + "S)");
                    CURRE_COUNT = 0;
                });
            }
            
            $(refresh);
            $("#refresh").click(refresh);
            setInterval(function(){
                if (CURRE_COUNT < TOTAL_COUNT){
                    CURRE_COUNT += 1;
                    $("#refresh").html("Refresh (" + (TOTAL_COUNT - CURRE_COUNT) + "S)");
                    if (CURRE_COUNT >= TOTAL_COUNT) refresh();
                }
            }, 1000);
        </script>
        
    </body>
</html>